# VCS
.git
.gitignore

# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
.mypy_cache/
.pytype/
.pyre/

# Environments
.venv
.venv*/
venv/
env/

# Node/OS junk
node_modules/
.DS_Store
Thumbs.db

# Project-local caches and outputs
.mruff_cache/
.ruff_cache/
.mypy_cache/
dist/
build/
*.egg-info/

# CI or editor specific
.vscode/
.idea/